@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  flex-direction: column;
}

.main-header{
  font-family: 'Montserrat', sans-serif;
}

.create-form label{
  color: rgb(228, 7, 7) !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px !important;
}

.search{
  float: right;
  width: 20%;
  margin-bottom: 10;
  border-color: black;
  border-width: 1;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f1f3;
}
 
.btn-container {
  display: flex;
  flex-direction: 'row';
  align-items: center;
  background-color: #fff;
  padding: 30px 50px;
  border-radius: 12px;
}
 
.btn {
  border: none;
  color:#fff;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  gap:6px;
  background-color: #bdc0c5;
  border-radius: 4px;
  padding: 6px 15px;
  margin: 0 10px;
}
 
.like-active {
  background-color: #FF0063;
}
 
.dislike-active {
  background-color: #394350;
}